{% extends "ProyectoTiendaApp/base.html" %}
  
{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="contenedorFormulario" style="width: 500px;">

    <form method="POST" action="" >

        {% csrf_token %}
        <h4 style="text-align:center">Registro</h4>
        <table style="margin: 20px auto;">{{form|crispy}}</table>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-warning" style="width: 50%">Registrarse</button>
        </div>
    </form>

</div>
{% endblock %}